<?xml version="1.0" encoding="utf-8"?>
<!-- Launch file -->

<launch>
    <!-- Defining the node and executable and publishing the output on terminal-->
    <node name="ros_desktop_robot_node" pkg="ros_desktop_robot" type="ros_desktop_robot_node" output="screen">
        <!-- loading the parameters from yaml file during th runtime -->
        <rosparam command="load" file="$(find ros_desktop_robot)/config/ros_desktop_robot.yaml"/>
    </node>
</launch>